//gitlab.com/api/v4/projects/33540713/packages/npm/:_authToken=glpat-JdDvnKsPGTkFx2xiuvEq
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-JdDvnKsPGTkFx2xiuvEq
@most:registry=https://gitlab.com/api/v4/packages/npm/