@import '../../assets/styles/variables';

.most-button {
  color: white;
  background-color: $lightGreen;
  border: none;
  margin-top: 20px;
  border-radius: 8px;
  width: 280px;
  height: 40px;

  &:active {
    color: $lightGrey;
  }
}
