@mixin loaderDivMixin {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
}

.loader-container {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
  div {
    height: 100%;
  }
}

.most-loader, .most-loader div {
  @include loaderDivMixin;
  border-radius: 50%;
  padding: 4px;
  animation: rotate2 4s infinite linear;
}

.loader, .loader * {
  will-change: transform;
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: $darkGrey;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $lightGreen;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $darkGrey;
  }
}
