@import '../../assets/styles/variables';

.progressbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 530px;

  &-wrapper {
    width: 90%;
    display: flex;
    background-color: #f2f2f2;
    border-radius: $border-radius-sm;
    height: 3px;
    overflow: hidden;
  }

  &-inner_wrapper {
    height: 3px;
    background-color: $primaryColor;
  }

  &-text {
    margin-left: 10px;
  }
}
