@import "src/assets/styles/variables";

.search-wrapper {
  position: relative;

  .search-icon {
    position: absolute;
    top: 20%;
    left: 5%;
  }

  .search-input {
    padding-left: 45px;
    width: 218px;
    height: 32px;
    border-radius: $border-radius-lg;
    border: 0.5px solid $superLightGrey;
  }
}
